# Windows and Mac files
[Tt]humbs.db
.DS_Store
node_modules

# Root.
/*
!/assets
!/inc
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.stylelintignore
!.stylelintrc
!composer.json
!gumponents.php
!README.md
!package-lock.json
!package.json
!webpack.config.js
