# Windows and Mac files
[Tt]humbs.db
.DS_Store
node_modules

# Root.
/*
!.bin
!.github
!.tests
!/assets
!/inc
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.stylelintignore
!.stylelintrc
!composer.json
!composer.lock
!gumponents.php
!LICENSE
!README.md
!package-lock.json
!package.json
!phpcs.xml
!phpunit.xml.dist
!webpack.config.js
