# Windows and Mac files
[Tt]humbs.db
.DS_Store

# Root
/*
!.github
!resources
!src
!tests
!.editorconfig
!.eslintrc.js
!.gitignore
!.php-cs-fixer.dist.php
!.prettierrc.js
!.stylelintrc.json
!.wp-env.json
!composer.json
!composer.lock
!gumponents.php
!package.json
!package-lock.json
!phpcs.xml
!phpstan.neon
!phpunit.xml.dist
!tsconfig.json
!webpack.config.js
!LICENSE
!README.md
!ROADMAP.md
!CLAUDE.md
!specs
!playwright.config.ts

# Build outputs
tests/e2e/plugins/gumponents-test-blocks/build/
tests/e2e/artifacts/
