<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress-Docs" />

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php" />

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps" />
	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
