parameters:
  level: max
  scanFiles:
    - gumponents.php
  scanDirectories:
    - vendor
    - wordpress
    - vendor/wp-phpunit
  paths:
    - src
    - tests
  excludePaths:
    - wordpress/wp-admin/includes/noop.php
