.gumponents-gallery-control {

	.components-base-control__label {
		display: block;
		margin-bottom: 4px;
	}

	&__total {
		padding: 10px;
		background-color: #f3f3f4;
		border-radius: 3px;
		color: #000;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
		margin: 10px 0;
	}
}
