.gumponents-select-image {
	background-color: #f9f9f9;
	overflow: hidden;
	position: relative;
	height: 100px;

	&--selected {
		background-color: transparent;
	}

	&__container {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	&__image-container {
		height: 100%;
		margin: 0;
	}

	&__button {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		&:hover {
			background-color: transparent !important;
		}
	}

	&__img-container {
		display: block;
		height: 100%;
	}

	&__img {
		cursor: pointer;
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
	}

	.spinner {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
	}

	.components-placeholder {
		position: absolute;
		min-height: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		margin-bottom: 0;

		&__label {
			margin-bottom: 0;
		}
	}

	&--no-placeholder .components-placeholder__label .dashicon {
		margin-right: 0 !important;
	}

	&__inline-menu {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-flex;
		z-index: 20;

		.components-button {
			padding: 0 !important;
			color: #fff;
			background-color: #0085ba;
			height: auto;
			min-width: auto;

			+ .components-button {
				margin-left: 5px;
			}

			.dashicon {
				margin: 0;
			}
		}
	}
}
