/**
 * URL Input.
 */

.gumponents-link-control {

	.components-base-control__label {
		display: block;
		margin-bottom: 4px;
	}

	&__preview {
		background-color: #f3f3f4;
		border-radius: 3px;
		padding: 10px;
		color: #000;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
		word-break: break-all;
		margin: 8px 0 12px 0;

		a {
			display: flex;
			align-items: center;
		}

		svg {
			margin-left: 5px;
			flex-shrink: 0;
		}
	}
}

.gumponents-url-control {

	input[type="text"] {
		width: 100%;
	}
}

body.modal-open .components-popover:not(.is-mobile).is-bottom {
	z-index: 999999;
}
