name: Coding Standards and Tests

on: [ push ]

env:
  WP_TESTS_DIR: /github/home/wp-tests/wordpress-tests-lib
  WP_CORE_DIR: /github/home/wp-tests/wordpress

jobs:

  test:
    runs-on: ubuntu-latest
    container:
      image: junaidbhura/wp-tests:php-7.4
    services:
      mysql:
        image: mysql:5.7.27
        env:
          MYSQL_ROOT_PASSWORD: root

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Composer cache
      id: composer-cache
      uses: actions/cache@v1
      with:
        path: /github/home/.composer/vendor
        key: composer-${{ hashFiles( '.github/workflows/main.yml' ) }}

    - name: NodeJS cache
      id: node-cache
      uses: actions/cache@v1
      with:
        path: node_modules
        key: node-${{ hashFiles( 'package-lock.json' ) }}

    - name: WordPress test suite cache
      id: wp-test-suite
      uses: actions/cache@v1
      with:
        path: /github/home/wp-tests
        key: wp-tests-${{ hashFiles( '.github/workflows/main.yml' ) }}

    - name: Install Composer dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: |
        composer global require "phpunit/phpunit=6.1.0"
        composer global require wp-coding-standards/wpcs
        $HOME/.composer/vendor/bin/phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

    - name: Install NodeJS dependencies
      if: steps.node-cache.outputs.cache-hit != 'true'
      run: npm install

    - name: Install WordPress test suite
      run: bash ./.bin/install-wp-tests.sh wordpress_test root root mysql latest

    - name: PHP Coding standards
      run: composer run lint

    - name: JavaScript Coding standards
      run: npm run lint-js

    - name: CSS Coding standards
      run: npm run lint-css

    - name: Tests
      run: composer run test
